<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit User Records</title>
	
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
	
</head>

<body>
    <nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header fixed-brand">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
                      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </button>
                    <a class="navbar-brand" href="/index_home"><i class="glyphicon glyphicon-certificate"></i> MAKASA SUN</a>        
                </div><!-- navbar-header-->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
                            </ul>
                </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                <li class="active">
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-user fa-stack-1x "></i></span> App Users</a>
                       <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="/add_user">Add User</a></li>
                        <li><a href="/view_users">View User</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-tree-conifer fa-stack-1x "></i></span> IHS Sites</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="/add_sites"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-new-window fa-stack-1x "></i></span>Add Sites</a></li>
                        <li><a href="/view_sites"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-new-window fa-stack-1x "></i></span>View Sites</a></li>

                    </ul>
                </li>
                <li>
                    <a href="/view_dgs"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-folder-open fa-stack-1x "></i></span>View Field Data</a>
                </li>
                <li>
                    <a href="/view_fuel_del"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-folder-open fa-stack-1x "></i></span>View Fuel Delivery</a>
                </li>
                <li>
                    <a href="/view_site_mat_del"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-folder-open fa-stack-1x "></i></span>View Site Material Delivery</a>
                </li>
                <li>
                    <a href="/view_eco"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-folder-open fa-stack-1x "></i></span>View Emergency Call Out</a>
                </li>
                <li>
                    <a href="/settings"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-cog fa-stack-1x "></i></span>Settings</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Makasa Sun Field Service Application</h1>
                        <p>Update User Records</p>
						
            

    <form class="my-grid-form" action="/update/<%= datas._id %>" method="post" accept-charset="utf-8">
	
		<fieldset>
			<legend>Update</legend>
			<div data-row-span="4">
				<div data-field-span="3">
					<label>Surname</label>
					<input type="text" name="surname" value="<%= datas.surname %>">
				</div>
				<div data-field-span="3">
					<label>First Name</label>
					<input type="text" name="first_name" value="<%= datas.first_name %>">
				</div>
				<div data-field-span="3">
					<label>Other Name</label>
					<input type="text" name="other_name" value="<%= datas.other_name %>">
				</div>
				<div data-field-span="1">
					<label>Makasa Sun ID</label>
					<input type="text" name="makasa_id" value="<%= datas.makasa_id %>">
				</div>
			</div>
			
			<div data-row-span="1">
				<div data-field-span="1">
					<label>Email</label>
					<input type="text" name="email" value="<%= datas.email %>">
				</div>
			</div>
			<div data-row-span="1">
				<div data-field-span="1">
					<label>Phone Number</label>
					<input type="text" name="phone_no" value="<%= datas.phone_no %>">
				</div>
			</div>	
			<div data-row-span="1">
				<div data-field-span="1">
					<label>Phone ID</label>
					<input type="text" name="imei_no" value="<%= datas.imei_no %>">
				</div>
			</div>
			<div data-row-span="1">
				<div data-field-span="1">
					<label>House Address</label>
					<input type="text" name="address" value="<%= datas.address %>">
				</div>
			</div>
			<div data-row-span="5">
				<div data-field-span="2">
					<label>Password</label>
					<input type="password" name="password" value="<%= datas.password %>">
				</div>
				<div data-field-span="2">
					<label>Position</label>
					<input type="text" name="position" value="<%= datas.position %>">
				</div>
				
			</div>
		</fieldset>
      
	 <input class="button-green" type="submit" value="Update" style="margin-top:15px; float: right;">
	 
	  
    </form>
	

    <br><br>
	<hr>
 

	  <table id="newTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Surname</th>
                <th>First Name</th>
                <th>Other Name</th>
                <th>Email</th>
                <th>Position</th>
				<th>Delete</th>
				<th>Update</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Surname</th>
                <th>First Name</th>
                <th>Other Name</th>
                <th>Email</th>
                <th>Position</th>
				<th>Delete</th>
				<th>Update</th>
            </tr>
        </tfoot>
        <tbody>
		<% todos.forEach( function ( todo ){ %>
            <tr>
                <td><%= todo.makasa_id %></td>
                <td><%= todo.surname %></td>
                <td><%= todo.first_name %></td>
                <td><%= todo.other_name %></td>
                <td><%= todo.email %></td>
                <td><%= todo.position %></td>
				<td><input type="button" onclick="location.href='/destroy/<%= todo._id %>'" value="delete"></td>
				<td><input type="button" onclick="location.href='/edit/<%= todo._id %>'" value="update"></td>
            </tr>
		<% }); %>
			</tbody>
    </table>
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
	<link rel="stylesheet" type="text/css" href="/gridforms/gridforms.css">
	<link rel="stylesheet" type="text/css" href="/media/style.css">
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sidebar_menu.js"></script>
	<script type="text/javascript" src="/js/search.js"> </script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
</body>

</html>
